export DATA_PATH="/scratch/izar/vanousek/vlm_r1/data"
export OUT_PATH="/scratch/izar/vanousek/vlm_r1/output/"
export BASE_LOG_PATH="$REPO/logs"
export REPO="$HOME/VLM-R1"


export WANDB_API_KEY="" 
export WANDB_ENTITY=""
export WANDB_PROJECT=""

export PYTHONPATH="$PYTHONPATH:$REPO/src/open-r1-multimodal/src/"