export DATA_PATH="/scratch/izar/saydalie/vlm-r1/data"
export OUT_PATH="/scratch/izar/saydalie/vlm-r1/output/"
export REPO="$HOME/project/VLM-R1"
export BASE_LOG_PATH="$REPO/logs"

export WANDB_API_KEY="" 
export WANDB_ENTITY=""
export WANDB_PROJECT=""

export PYTHONPATH="$PYTHONPATH:$REPO/src/open-r1-multimodal/src/"